

@media screen and (min-width: 0) {
}

.stats {
  background-color: var(--dark-bg);
  color: var(--bodyTextColorWhite);
  p {
    color: inherit;
  }
  .item {
    align-items: unset;
    gap: var(--p-s);
  }
  .item-h {
    color: var(--primary);
    font-size: clamp(2.3rem, 2.9vw, 4rem);
    font-weight: bold;
  }
  .group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 600px) {
  .stats {
    .group {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
