/* * {
  border: 1px red solid;
} */

@media screen and (min-width: 0) {
  .group-section {
    display: flex;
    gap: var(--p-lg);
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .group {
    display: flex;
    flex-wrap: wrap;
    gap: var(--p-md);
    justify-content: center;
  }

  .item {
    display: flex;
    flex-direction: column;
    gap: var(--p-sm);
    padding: calc(var(--p-lg) - var(--p-sm));
    border-radius: var(--b-radius);
    
    background-color: var(--light-bg);
  }

  .item-row {
    display: flex;
    gap: var(--p-sm);
    align-items: center;
  }

  .group-section .item img {
    width: clamp(25px, 5%, 100px);
    position: relative;
    transition: 0.5s;
  }

  .flex-group-section .item img:hover {
    transform: translateY(calc(var(--p-sm) * -1));
  }

  .flex-group-section .item a {
    color: var(--primary);
  }
}

@media screen and (min-width: 700px) {
  .item {
    padding: var(--p-lg);
    flex: 1;
    max-width: 350px;
  }
}
