/* * {
  border: 1px red solid;
} */

@media screen and (min-width: 0) {
}

.heading-primary {
  font-size: 2rem;
  text-align: center;
  margin: 50px 0;
}

.group {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #494c5f;
}

.group .item {
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0.6rem 1.6rem #b3b5c6;
  color: inherit;
}

.plan-heading {
  color: inherit;
}

.group .item .plan-price {
  font-size: 4rem;
  color: inherit;
}

.group .item .dollar {
  font-size: 2rem;
  font-weight: 400;
  vertical-align: middle;
}

.features {
  padding: 0;
}

.group .item .features .feature {
  padding: 15px 0;
  border-bottom: 1px solid #b3b5c6;
}

.group .item .btn {
  background-color: #696fdd;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  color: #f6f6f6;
}

.group .item .btn:hover {
  background-color: #f6f6f6;
  color: #494c5f;
  border: 1px solid #696fdd;
  font-weight: 900;
}

.group .basic {
  background-color: #f6f6f6;
}

.group .pro {
  background-color: #696fdd;
  color: #f6f6f6;
  height: 480px;
}

.group .pro .btn {
  color: #696fdd;
  background-color: #f6f6f6;
}

.group .pro .btn:hover {
  border: 1px solid #f6f6f6;
  background-color: #696fdd;
  color: #f6f6f6;
}

.group .master {
  background-color: #f6f6f6;
}
