:root {
  /* Colors */
  --primary: rgb(21, 182, 164);
  --primary-dark: rgb(19, 134, 121);
  --primary-light: rgb(197, 253, 247);
  --primary-rgb: 21, 182, 164;
  --secondary: rgba(6, 98, 174, 255);
  --secondary-light: rgba(6, 98, 174, 255);
  --secondary-dark: rgba(6, 98, 174, 255);

  --border-clr: rgba(5, 252, 223, 0.11);
  --white: #fff;
  --black: #161313;
  --header-clr: var(--black);
  --tertiary: rgb(190, 205, 227);

  --borderColor: rgb(228, 229, 231);

  /* background colors */
  --primary-bg-clr: #fff;
  --light-bg: rgba(1, 25, 54, 255);

  /* padding */
  --p-xs: 0.25rem;
  --p-s: 0.5rem;
  --p-sm: 0.75rem;
  --p-m:1rem;
  --p-md: 1.5rem;
  --p-ml: 2rem;
  --p-lg: 2.5rem;
  --p-xl: 4rem;
  --sectionPadding: clamp(2.75rem, 5.82vh, 6.25rem) 0.75rem;

  /* font colors */
  --body-text-clr: rgba(130, 143, 160, 255);
  --text-light: pink;
  --text-dark: purple;
  --text-x-light: rgb(255, 226, 230);

  /* border radius */
  --b-radius: 4px;
  --box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  --maxContainerWidth: 80rem;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--primary-bg-clr);
  color: var(--body-text-clr);
}

/* root info */
ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container,
header {
  max-width: var(--maxContainerWidth);
  margin: auto;
  width: 100%;
}

section,
footer {
  padding: var(--sectionPadding);
  margin: auto;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--p-md);
}

.content .section-heading,
.content .heading,
.content .sub-heading {
  margin: 0;
}

.group {
  display: flex;
  flex-direction: column;
  gap: var(--p-md);
  width: 100%;
  height: 100%;
}
.item {
  display: flex;
  flex-direction: column;
  gap: var(--p-sm);
  width: 100%;
  height: 100%;
  position: relative;
}
.content {
  display: flex;
  flex-direction: column;
  gap: var(--p-sm);
}
.content-group {
  display: flex;
  gap: var(--p-s);
  flex-direction: column;
}

/* Text color */
.primary {
  color: var(--primary);
  fill: var(--primary);
  /* filter:  brightness(0) invert(1)  saturate(3); */
}

.heading {
  color: var(--header-clr);
}

/* Background */

/* End of background */

/* buttons */
button,
.button {
  width: fit-content;
  border: none;
  background-color: transparent;
  border-radius: var(--b-radius);
  padding: var(--p-s) var(--p-sm);
}

a:hover,
button:hover,
.button:hover {
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--header-clr);
}

.btn-tp {
  border: 1px solid var(--primary);
  color: var(--header-clr);
}
/* End of button */

/* Text styles */
/* font classes */
.main-h {
  font-size: clamp(2.5rem, 5vw, 4rem);
  margin-bottom: 1rem;
}
.heading {
  margin-bottom: 1rem;
  font-size: clamp(2.5rem, 3vw, 3.75rem);
  text-transform: capitalize;
  font-size: 1.75rem;
  color: var(--header-clr);
}
.sub-h {
  margin-bottom: 2rem;
  color: var(--primary);
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
.item-h {
  font-weight: bold;
  font-size: 1.2rem;
}
.item-sub-h {
  margin-bottom: 0.25rem;
  font-size: 0.8rem;
  color: var(--primary);
  text-transform: uppercase;
}
.banner-text {
}

.section-heading {
  font-size: 1.75rem;
  color: var(--header-clr);
  letter-spacing: 0.4rem;
  line-height: 1.4rem;
}

.section-sub-heading {
  color: var(--primary);
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.item-heading {
  font-size: 1.2rem;
  color: var(--header-clr);
  letter-spacing: 0.15rem;
}

.item-sub-heading {
  font-size: 0.8rem;
  color: var(--primary);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.item-sub-heading-2 {
  font-size: 0.8rem;
  opacity: 0.8;
  text-transform: uppercase;
}
/* End of text styles */

/* inputs */
textarea {
  border-radius: var(--b-radius);
  resize: vertical;
  min-height: 12.5rem;
}

input,
select,
textarea {
  outline: none;
  border-radius: var(--b-radius);
  border: 1px solid var(--border-clr);
}

input:focus,
select:focus,
textarea:focus {
  border: 1px solid var(--primary);
}
/* End of inputs */

/* img */
img {
  /* border-radius: var(--b-radius); */
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.img-container {
  /* border-radius: var(--b-radius); */
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.img-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
}
/*  */

/* Nav */
header {
  color: var(--header-clr);
}
/* End of Nav */

/* animations css */

/* end of animations css */

/* Change img color */
.cs-icon {
  /* first make icon black then invert makes it white then add color */
  filter: brightness(0) invert(1) opacity(0.5) drop-shadow(0 0 0 var(--primary))
    saturate(1000%);
}

.white-icon {
  filter: brightness(0) invert(1) drop-shadow(0 0 0 var(--white))
    saturate(1000%);
}

.nav-menu:hover,
.nav-close-menu:hover {
  cursor: pointer;
  filter: brightness(0) invert(1) opacity(0.5) drop-shadow(0 0 0 var(--primary))
    saturate(1000%);
}
