:root {
  --primary: lightblue;
  --borderColor: rgb(37, 36, 36);
  --secondary: pink;
  --sectionPadding: 20px;
  --bodyColor: white;
  --tertiary: lime;
  --p-sm: 10px;
  --p-md: 25px;


--primary-bg: pink;
  --copyrightBg: yellow;
}

/* root info */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 80rem;
  margin: auto;
  width: 100%;
}

section {
  padding: var(--sectionPadding);
}

button {
  width: fit-content;
  border: none;
  background-color: transparent;
}

a:hover, button:hover {
  cursor: pointer;
}

.btn-tp {
  border: 1px solid var(--borderColor);
}

.primary {
  color: var(--primary);
}
