:root {
  /* Colors */
  --primary: rgb(21, 182, 164);
  --borderColor: rgb(204, 232, 241);
  --secondary: pink;
  --sectionPadding: 20px ;
  --headingTextColor: white;
  --bodyTextColor: rgba(130, 143, 160, 255);
  --tertiary: lime;

  /* background colors */
  --primary-bg: rgba(0, 20, 45, 255);
  --copyrightBg: yellow;
  --bannerColor: purple;
  --light-bg: rgba(1, 25, 54, 255);

  /* padding */
  --p-xs: 5px;
  --p-sm: 10px;
  --p-md: 25px;
  --p-lg: 40px;

  --b-radius: 4px;
}

body {
  background-color: var(--primary-bg);
  color: var(--bodyTextColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headingTextColor);
  font-weight: bold;
}

/* root info */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1120px;
  margin: auto;
  width: 100%;
}

section {
  padding: var(--sectionPadding);
  margin: auto;
}

/* Text color */
.primary {
  color: var(--primary);
}

/* Background */

/* End of background */

/* buttons */
button,
.button {
  width: fit-content;
  border: none;
  background-color: transparent;
  border-radius: var(--b-radius);
  padding: var(--p-xs);
}

a:hover,
button:hover,
.button:hover {
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--bodyColor);
}

.btn-tp {
  border: 1px solid var(--borderColor);
}

/* End of button */

/* inputs */

textarea {
  resize: none;
  border-radius: var(--b-radius);
}

input,
select,
textarea {
  outline: none;
  padding: var(--p-sm);
  border-radius: var(--b-radius);
  border: 1px solid var(--borderColor);
}

input:focus,
select:focus,
textarea:focus {
  border: 1px solid var(--primary);
}
/* End of inputs */
