* {
  // border: 1px red solid;
}

:root {
  --xxxs: 0.25rem;
  --xxs: 0.5rem;
  --xs: 0.75rem;
  --s: 1rem;
  --sm: 1.5rem;
  --sl: 2rem;
  --sx: 3rem;
  --m: 4rem;
  --md: 6rem;
  --ml: 8rem;
  --mx: 12rem;
  --l: 16rem;
  --xl: 24rem;
  --xxl: 32rem;
  --xxxl: 40rem;
  --xxxxl: 48rem;
}

.section-name {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .row {
    height: 1rem;
    background-color: var(--primary);
  }
  .one {
    width: var(--xxxs);
  }
  .two {
    width: var(--xxs);
  }
  .three {
    width: var(--xs);
  }
  .four {
    width: var(--s);
  }
  .five {
    width: var(--sm);
  }
  .six {
    width: var(--sl);
  }
  .seven {
    width: var(--sx);
  }
  .eight {
    width: var(--m);
  }
  .nine {
    width: var(--md);
  }
  .ten {
    width: var(--ml);
  }
  .eleven {
    width: var(--mx);
  }
  .twelve {
    width: var(--l);
  }
  .thirteen {
    width: var(--xl);
  }
  .fourteen {
    width: var(--xxl);
  }
  .fifteen {
    width: var(--xxxl);
  }
  .sixteen {
    width: var(--xxxxl);
  }
}

@media screen and (min-width: 0) {
  .section-name {
  }
}
