.section-name {
  text-align: center;

  --item-padding-left: var(--p-md);
  --spacing: var(--p-ml);
  --item-padding-top: var(--p-md);

  .group {
    margin-top: var(--p-lg);
  }

  .item {
    background-color: var(--primary-bg-clr);
    padding: var(--item-padding-top) 0;
    border-radius: var(--b-radius);
    position: relative;
    gap: 0;
    background-color: var(--borderColor);
    text-align: left;
    padding-right: var(--item-padding-left);
  }

  .item > * {
    padding-left: var(--item-padding-left);
    margin-bottom: var(--spacing);
  }

  .stars {
    display: flex;
    gap: var(--p-sm);
    margin-top: var(--item-padding-top);
    i {
      color: var(--primary);
    }
  }

  .img-container {
    overflow: visible;
    margin: 0;
    padding: 0;
    // border: 1px red solid;
    img {
      margin-left: var(--item-padding-left);
      object-fit: cover;
      border-radius: 50%;
      aspect-ratio: 1;
      width: 30%;
    }
  }

  .info {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;
    i {
      font-size: 2rem;
      grid-area: i;
      margin: auto;
      margin-right: 0;
      width: fit-content;
      height: fit-content;
      color: var(--primary);
    }
  }

  .item-h {
    margin: 0;
    grid-area: heading;
  }

  .item-sub-h {
    grid-area: sub;
  }

  .item-h,
  .item-sub-h {
    border-left: 3px solid var(--primary);
    padding-left: var(--p-md);
  }
}

@media screen and (min-width: 48rem) {
  .section-name {
    .group {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: var(--p-lg);
    }
    .img-container {
      img {
        width: 60%;
      }
    }
    .info {
      display: grid;
      grid-template-areas:
        "heading  i"
        "sub      i";
    }
  }
}

@media screen and (min-width: 64rem) {
  .section-name {
    .img-container {
      img {
        width: 35%;
      }
    }
    
  }
}
