.reviews {
  text-align: center;
  --spacing: var(--p-m);
  .content {
    align-items: center;
  }
  .heading {
    margin: 0;
  }
  .item {
    display: grid;
    grid-template-areas:
      "i i"
      "heading heading"
      "quote quote"
      "img name"
      "img role";
    grid-template-columns: min-content 5fr;
    row-gap: 0;
    column-gap: var(--p-m);
    text-align: left;
    border-radius: var(--b-radius);
    padding: var(--p-ml);
    padding-top: 0;


    -moz-box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
  }
  i {
    color: var(--primary);
    font-size: 2.5rem;
    margin-top: 0;
  }
  .quote-1 {
    grid-area: heading;
    color: var(--header-clr);
  }
  .quote-2 {
    background-color: var(--white);
    grid-area: quote;
  }
  .quote-1,
  .quote-2,
  i {
    margin-bottom: var(--spacing);
  }

  .img-container {
    border-radius: 50%;
    grid-area: img;
    aspect-ratio: 1;
    min-width: 4rem;
  }
  img {
    object-fit: cover;
  }
  .item-h {
    grid-area: name;
    margin-top: auto;
    font-size: 1.2rem;
    color: var(--header-clr);
  }
  .role {
    grid-area: role;
    margin-bottom: auto;
    font-size: 0.9rem;
  }
  .group {
    margin-top: var(--p-lg);
    gap: var(--p-xl);
  }
}

@media screen and (min-width: 64rem) {
  .reviews {
    .group {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
