// * {
//   border: 1px red solid;
// }

.section-name {
  text-align: center;
  .group {
    margin-top: var(--p-xl);
  }
  .content {
    justify-content: center;
  }
  .item {
    border-radius: var(--b-radius);
    -moz-box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    text-align: left;
    border-radius: var(--b-radius);
    overflow: hidden;
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: var(--p-m);
    padding: var(--p-ml) var(--p-md);
    justify-content: center;
  }
  .item-h {
    font-size: 1.25rem;
    color: var(--header-clr);
  }
  i {
    font-size: 1.75rem;
    padding: var(--p-m);
    color: var(--primary);
    border-radius: 50%;
    background-color: var(--primaryLight);
    width: fit-content;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
  }
  a {
    width: fit-content;
  }
}

@media screen and (min-width: 25rem) {
  .section-name {
    .item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0;
    }
    img{
      object-fit: cover;
    }
  }
}

@media screen and (min-width: 64rem) {
  .section-name {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--p-lg);
    }
  }
}

