:root {
  --primary: lightblue;
  --borderColor: rgb(37, 36, 36);
  --secondary: pink;
  --sectionPadding: 20px;
  --bodyColor: white;
  --tertiary: lime;
  --p-sm: 10px;
}

/* root info */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 80rem;
  margin: auto;
  width: 100%;
}

section {
  padding: var(--sectionPadding);
}
