@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.banner-bg {
  background-color: white;
  /* overflow: hidden; */
  gap: var(--p-md);
  white-space: nowrap;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.slider {
  display:flex;

  animation: 5s slide infinite linear;
}

.slider img {
  height: 50px;
  margin: 0 40px;
}
