* {
}

@media screen and (min-width: 0) {
  .location-section {
    display: flex;
    flex-direction: column;
    gap: var(--p-md);
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .location-heading {
    display: flex;
    flex-direction: column;
    gap: var(--p-sm);
    text-align: center;
  }

  .locations {
    display: flex;
    flex-direction: column;
    gap: var(--p-sm);
    justify-content: center;
    align-items: center;
  }

  .location {
    display: flex;
    flex-direction: column;
    flex: 25%;
    align-self: flex-start;
    aspect-ratio: 1;
    gap: var(--p-sm);
  }

  .location img {
    transition: 0.5s;
  }

  .location img:hover {
    opacity: 0.95;
    cursor: pointer;
    transform: scale(1.02);
  }
}

@media screen and (min-width: 505px) {
  .location-section{
    text-align: left;
  }
  .locations {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
  .location {
    width: unset;
    /* prevents last child from filling entire row if flex wraps */
    flex: none;
  }
}
