@media screen and (min-width: 0) {
  .group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .item {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* Makes blog elements the same heigh */
    align-self: stretch;
    flex: 1;
  }

  .item__cover {
    height: 275px;
    object-fit: cover;
    width: 100%;
    aspect-ratio: 0.8;
  }

  .item .item__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    margin-top: var(--p-sm);
  }
}

@media screen and (min-width: 610px) {
  .group {
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--p-md);
    justify-content: space-between;
  }
  .item {
    width: unset;
    align-self: stretch;
    /* 400 set here to temporarily fix last 
    flex wrap item from filling entire bottom row */
    min-width: 400px;
    flex: 1;
  }
  .item p {
    max-width: 80%;
  }
}
