// * {
//   border: 1px red solid;
// }

.section-name {
  text-align: center;
  .item {
    padding: var(--p-ml) var(--p-md);
    border-radius: var(--b-radius);
    gap: var(--p-m);
  }
  .item-h {
    font-size: 1.25rem;
    color: var(--header-clr);
  }
  i {
    font-size: 2.25rem;
    color: var(--primary);
    background-color: var(--primaryLight);
    width: fit-content;
    margin: auto;
    border-radius: 50%;
    aspect-ratio: 1;
    padding: var(--p-m);
    display: flex;
    align-items: center;
  }
}



@media screen and (min-width: 48rem) {
  .section-name {
    .group {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0;
    }
  }
}
