/* * {
  border: 1px red solid;
} */

.accordion label {
  display: block;
  padding: var(--p-sm);
  color: var(--tertiary);
  cursor: pointer;
  border: 1px solid var(--tertiary);
}

.accordion label:hover {
  color: var(--primary);
  /* border: 1px solid var(--primary); */
}

.accordion .accordion-content {
  transition: 0.8s;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-in-out;
  margin-left: var(--p-sm);
  margin-top: var(--p-sm);
  margin-bottom: var(--p-sm);
}

.accordion input[type="checkbox"] {
  display: none;
}

.accordion [id^="accordion"]:checked ~ div[id^="accordion-content"] {
  display: block;
  max-height: 300px;
}

.accordion [id^="accordion"]:checked + label {
  color: var(--primary);
  border: 1px solid var(--primary);
}
