.section-name {
  padding: 0;
  .group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    overflow: hidden;
    width: 100%;
  }
  img {
    object-fit: cover;
  }
  .img-container {
    // -webkit-transform: skew(12deg, 0);
    // transform: skew(12deg, 0);
    width: 101%;
  }
  .img-container:nth-child(1) {
    // border: 1px red solid;
  }
}
