
.reviews {
  text-align: center;
  .content {
    align-items: center;
  }
  .heading {
    margin: 0;
  }
  .item {
    display: grid;
    grid-template-areas:
      "quote quote"
      "img name"
      "img role";
    grid-template-columns: min-content 5fr;
    row-gap: var(--p-xs);
    column-gap: var(--p-md);
    text-align: left;
  }
  .quote {
    background-color: var(--white);
    padding: var(--p-ml);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    opacity: 0.7;
    grid-area: quote;
    margin-bottom: var(--p-md);
  }
  .img-container {
    border-radius: 50%;
    grid-area: img;
    aspect-ratio: 1;
    min-width: 3rem;
  }
  img {
    object-fit: cover;
  }
  .item-h {
    grid-area: name;
    margin-top: auto;
    font-size: 1.2rem;
  }
  .role {
    grid-area: role;
    margin-bottom: auto;
    opacity: .8;
    font-size: .9rem;
  }
  .group {
    margin-top: var(--p-lg);
    gap: var(--p-xl);
  }
}

@media screen and (min-width: 64rem) {
  .reviews {
    .group {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}