/* *{
  border: 1px red solid;
} */

input,
select {
  height: 40px;
}

@media screen and (min-width: 0) {
  .sbs {
    display: flex;
    justify-content: center;
    gap: var(--p-lg);
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .sbs > * {
    flex: 1 1 0;
  }

  .sbs .form {
    display: flex;
    flex-direction: column;
    gap: var(--p-sm);
    /* need width 100% to ensure every row stretches on mobile */
    width: 100%;
    color: var(--headingTextColor);
  }

  .sbs .form div {
    display: flex;
    flex-direction: column;
    gap: var(--p-sm);
  }

  .sbs .img__container {
    display: flex;
    justify-content: end;
    max-height: 600px;
    justify-content: stretch;
    border-radius: var(--b-radius);
  }

  .sbs .img__container img {
    object-fit: cover;
    border: inherit;
  }
}

@media screen and (min-width: 800px) {
  .sbs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .sbs .form {
    display: grid;
    grid-template-areas:
      "name email"
      "contact service"
      "details details";
    gap: var(--p-sm);
    width: 100%;
  }

  .sbs textarea {
    flex: 1;
  }

  /* .name {
    grid-area: name;
  }

  .email {
    grid-area: email;
  }

  .contact {
    grid-area: contact;
  }

  .service {
    grid-area: service;
  } */

  .details {
    grid-area: details;
  }
}
