* {
  border: 1px red solid;
}

@media screen and (min-width: 0) {
  .hero {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: var(--p-md);
    margin: auto;
  }

  .hero-info,
  .img-container {
    width: fit-content;
  }

  .img-container {
  }

  .hero-info {
    display: flex;
    flex-direction: column;
    gap: var(--p-sm);
  }
}

@media screen and (min-width: 1020px) {
  .hero {
    display: flex;
    flex-direction: row;
  }
}