/* * {
  border: 1px red solid;
} */

#hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 0;
  position: relative;
  background: url('images/download.jpg') no-repeat;
  background-size: cover;
}

