// * {
//   border: 1px red solid;
// }

.container {
  height: 100vh;
  border: 1px solid var(--primary);
}

.triangle {
  height: 100%;
  width: 100%;
  border: 1px red solid;
  // clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.electricity {
  clip-path: polygon(69% 0, 56% 37%, 100% 39%, 31% 96%, 48% 55%, 0 56%);
}

@media screen and (min-width: 0) {
}
