@media screen and (min-width: 0em) {
  .cta-section {
    background-color: var(--light-bg);
  }

  .cta {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    gap: var(--p-md);
  }
}

@media screen and (min-width: 700px) {
  .cta {
    justify-content: space-between;
  }
}
