@media screen and (min-width: 0em) {
  .cta-section {
  }

  .cta {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    gap: var(--p-sm);
  }
}

@media screen and (min-width: 600px) {
  .cta {
    justify-content: space-between;
  }
}
