.projects {
  text-align: center;

  input[type="radio"] {
    display: none;
  }

  .tabs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    margin: auto;
    padding-bottom: var(--p-lg);
    gap: var(--p-sm);
  }

  .tab {
    color: var(--primary);
    z-index: 1;
    text-align: center;
    display: flex;
  }

  .tab label {
    transition: 0.3 all ease;
    height: 100%;
    width: 100%;
    background-color: var(--borderColor);
    cursor: pointer;
    padding: var(--p-sm) var(--p-md);
    border-radius: 45px;
    text-transform: uppercase;
    font-size: clamp(0.9rem, 0.95vw, 1.75rem);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #all:checked ~ .tabs label[for="all"],
  #home:checked ~ .tabs label[for="home"],
  #blog:checked ~ .tabs label[for="blog"],
  #code:checked ~ .tabs label[for="code"],
  #help:checked ~ .tabs label[for="help"],
  #about:checked ~ .tabs label[for="about"] {
    color: var(--primary-bg-clr);
    background-color: var(--primary);
  }

  .group {
    position: relative;
    .home,
    .code,
    .blog,
    .code,
    .help,
    .about {
      transition: 0.6s;
      width: 0;
      height: 0;
      position: absolute;
    }
  }

  #home:checked ~ .group {
    .home {
      height: 100%;
      width: 100%;
      position: static;
      z-index: 1;
    }
  }

  #code:checked ~ .group {
    .code {
      height: 100%;
      width: 100%;
      position: static;
      z-index: 1;
    }
  }

  #blog:checked ~ .group {
    .blog {
      height: 100%;
      width: 100%;
      position: static;
      z-index: 1;
    }
  }

  #blog:checked ~ .group {
    .blog {
      height: 100%;
      width: 100%;
      position: static;
      z-index: 1;
    }
  }

  #help:checked ~ .group {
    .help {
      height: 100%;
      width: 100%;
      position: static;
      z-index: 1;
    }
  }

  #about:checked ~ .group {
    .about {
      height: 100%;
      width: 100%;
      position: static;
      z-index: 1;
    }
  }

  #all:checked ~ .group {
    .item {
      height: 100%;
      width: 100%;
      position: static;
      z-index: 1;
    }
  }

  .img-overlay {
    padding: var(--p-lg);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    color: var(--white);
    gap: var(--p-sm);
    text-align: left;
    transform: scale(0);
    transition: .3s;
    .item-h {
      font-size: clamp(1.25rem, 2.5vw, 2rem);
    }
  }

  .item {
    img {
      object-fit: cover;
      aspect-ratio: 0.9;
    }
  }

  .img-container:hover {
    .img-overlay {
      transform: scale(1);
    }
  }
}

@media screen and (min-width: 400px) {
  .projects {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .tabs {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (min-width: 768px) {
  .projects {
    .group {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (min-width: 900px) {
  .projects {
    .tabs {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}
