* {
  // border: 1px red solid;
}

.projects {
  text-align: center;
  padding: var(--p-lg) 0;
  .group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0;
  }
  .img-container {
    max-height: 30vh;
    aspect-ratio: 1;
    img {
      object-fit: cover;
    }
  }
  .cs-button-solid{
    margin: auto;
    margin-top: var(--p-lg);
    grid-column: -1/1;
    width: fit-content;
  }
}

@media screen and (min-width: 37.5rem) {
  .projects {
    .group {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}