@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

// * {
//   border: 1px red solid;
// }

:root {
  --secondary-color: #e8e8e8e8;
  --text-dark: #0f172a;
  --text-light: #94a3b8;
  --white: #fff;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--secondary-color);
}

.container {
  text-align: center;
}

.reviews {
  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary);
  }

  h1 {
    position: relative;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text-dark);
  }

  h1::after {
    position: absolute;
    content: "";
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 5rem;
    height: 2px;
    background-color: var(--primary);
  }

  .group {
    .item {
      align-items: center;
      position: relative;
      isolation: isolate;
      overflow: hidden;
      padding: var(--p-lg) var(--p-md) var(--p-md);
      border-radius: var(--p-s);
      background-color: var(--white);
      transition: 0.3s;

      -moz-box-shadow: var(--box-shadow);
      -webkit-box-shadow: var(--box-shadow);
      box-shadow: var(--box-shadow);
      
      img {
        border-radius: 100%;
        object-fit: cover;
        margin-bottom: 1rem;
        border: 1px solid var(--primary);
        aspect-ratio: 1;
        max-width: 100px;
        transition: 0.3s;
      }
      span {
        position: absolute;
        top: 0;
        left: 0;
        padding: 1rem;
        color: var(--white);
        font-size: 3rem;
      }
      h4 {
        margin-top: 4rem;
        margin-bottom: 1rem;
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--primary);
        transition: 0.3s;
      }
      h5 {
        font-size: 1.25rem;
        font-weight: 600;
        color: var(--primary);
        transition: 0.3s;
      }
      h6 {
        font-size: 1rem;
        font-weight: 400;
        color: var(--text-light);
      }
      p {
        margin-bottom: 2rem;
        color: var(--text-light);
        transition: 0.3s;
      }
    }
    .item:hover::before {
      width: 400%;
    }
    .item:hover :is(h4, h5) {
      color: var(--white);
    }
    .item:hover img {
      border-color: var(--white);
    }
    .item:hover :is(p, h6) {
      color: var(--secondary-color);
    }
    .item::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
      width: 75%;
      aspect-ratio: 1;
      border-radius: 100%;
      background-color: var(--primary);
      z-index: -1;
      transition: 0.5s;
    }
  }
}

@media screen and (min-width: 425px) {
  .reviews {
    .group {
      .item::before {
        width: 70%;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .reviews {
    .group {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: var(--p-lg);
    }
  }
}
