// * {
//   border: 1px red solid;
// }

body {
  height: 1000vh;
}

header {
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-areas:
    "logo info"
    "logo lines"
    "bottom bottom";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: var(--p-sm);
  --content-padding: var(--p-s);
  .logo {
    display: flex;
    align-items: center;
    padding: var(--content-padding);
    min-width: 11.25rem;
    grid-area: logo;
    //   img{
    //     object-fit: cover;
    //   }
  }

  #lines {
    display: flex;
    flex-direction: column;
    gap: var(--p-xs);
    margin: auto;
    margin-right: 0;
    align-items: center;
    justify-content: center;
    padding: var(--content-padding);
    margin-right: var(--content-padding);
    background-color: var(--light-bg);
    .line {
      width: 5vw;
      background-color: var(--white);
      height: 0.2rem;
    }
  }

  nav {
    display: flex;
    align-items: center;
    grid-area: bottom;
    background-color: var(--primary);
    width: 100vw;
    padding: var(--content-padding);
  }

  #top {
    overflow: hidden;
    transition: 0.8s;
    transform-origin: top;
    max-height: 200px;
    margin: auto;
    margin-right: 0;
    padding-right: var(--content-padding);
  }

  .hidden {
    max-height: 0 !important;
  }

  .desktop {
    display: none;
  }
}

@media screen and (min-width: 37.5rem) {
  header {
    grid-template-areas:
      "logo top"
      "logo bottom";
    padding: 0;
    .mobile,
    #lines {
      display: none;
    }
    .desktop {
      display: block;
    }
  }
}
