/* * {
  border: 1px red solid;
} */

@media screen and (min-width: 0) {
  .flex-group-section {
    display: flex;
    gap: var(--p-sm);
    padding: var(--p-md);
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .flex-group {
    display: flex;
    flex-wrap: wrap;
    gap: var(--p-md);
    justify-content: center;
  }

  .flex-item {
    display: flex;
    flex-direction: column;
    gap: var(--p-md);
    align-items: center;
    padding: calc(var(--p-lg) - var(--p-sm));
    min-width: 200px;
    border-radius: var(--b-radius);
    text-align: center;
    flex: 1;
    background-color: var(--light-bg);
  }

  .flex-item-info {
    display: flex;
    flex-direction: column;
    gap: var(--p-sm);
  }

  .flex-group-section .flex-item img {
    width: clamp(50px, 10%, 200px);
    position: relative;
    transition: 0.5s;
  }

  .flex-group-section .flex-item img:hover {
    transform: translateY(calc(var(--p-sm) * -1));
  }

  .flex-group-section .flex-item a {
    color: var(--primary);
  }
}

@media screen and (min-width: 700px) {
  .flex-item {
    flex: 0 0 25%;
    min-width: none;
    padding: var(--p-lg);
  }
}
