// * {
//   border: 1px red solid;
// }

.section-name {
  text-align: center;
  .item {
    position: relative;
  }
  .info {
    position: absolute;
    bottom: 10%;
    margin: auto;
    left: 0;
    right: 0;
    color: var(--white);
  }
  .img-container::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    background-color: transparent;
    background-image: linear-gradient(
      180deg,
      #e5481800 50%,
      var(--primary) 100%
    );
  }
}

@media screen and (min-width: 48rem) {
  .section-name {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (min-width: 64rem) {
  .section-name {
    .group {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (min-width: 0) {
  .section-name {
  }
}
